<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sample</title>
    <link rel="stylesheet" type="text/css" href="design.css"> 
    <style type="text/css">
      a:hover { font-weight: bold; background-color: #ff0; }
    </style>
  </head>

  <body>
    <h1> 見出し１</h1>
    <h2> 見出し２ </h2>
    <h3> 見出し３ </h3>
    <h3> 見出し３ </h3>
    <ul>
      <li>箇条書き１</li>
      <li>箇条書き２</li>
      <li>箇条書き３</li>
      <li>箇条書き４</li>
      <ul>
        <li>箇条書き４-1</li>
        <li>箇条書き４-2</li>
        <li>箇条書き４-3</li>
      </ul>
      <li>箇条書き５</li>
    </ul>

    <table border="1"> <!-- あまりよくない -->
      <tr>
        <th>カラム1</th>
        <th>カラム2</th>
        <th>カラム3</th>
        <th>カラム4</th>
        <th>カラム5</th>
      </tr>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
      </tr>
      <tr>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>10</td>
      </tr>
      <tr>
        <td>11</td>
        <td>12</td>
        <td>13</td>
        <td>14</td>
        <td>15</td>
      </tr>
    </table>


    <table class="bd">
      <tr>
        <th>カラム1</th>
        <th>カラム2</th>
        <th>カラム3</th>
        <th>カラム4</th>
        <th>カラム5</th>
      </tr>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
      </tr>
      <tr>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>10</td>
      </tr>
      <tr>
        <td>11</td>
        <td id="bold">12</td>
        <td>13</td>
        <td>14</td>
        <td>15</td>
      </tr>
    </table>


    <p>
      <a href="sample.html">Sample</a>

      <!-- target="_blank" を追加すると，別タブで開く -->
      <a href="index.html" target="_blank">MDWiki</a>

      <!-- fontタグは良くない -->
      <font color="red">
        <blink>
          ここは赤くする！
        </blink>
      </font>

      <a href="http://www.yukawanet.com/archives/4487536.html">
        愛生会病院のHP
      </a>

    </p>

    <!-- comment desu 
適当なメモ
-->
  </body>
</html>
